<!DOCTYPE html>
<html>
<head>
  <title>DummyApp</title>
  <%= stylesheet_link_tag    'documentation', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'documentation', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-spy="scroll" data-target="#sidenav" data-offset="100">

<%= yield %>
    <script>window.prettyPrint && prettyPrint();</script>
    <script type="text/javascript">
        (function($) {
            // Switch
            $("[data-toggle='switch'][class='switch-large']").bootstrapSwitch({
                baseClass: 'switch',
                wrapperClass: 'switch-large'
            });
            $("[data-toggle='switch']").bootstrapSwitch();

            $('#top-toolbar').toolbar({
                content: '#user-toolbar-options',
                position: 'top'
            });

            $('#vertical-top-toolbar').toolbar({
                content: '#user-toolbar-options',
                position: 'vertical-top'
            });

            $('#vertical-bottom-toolbar').toolbar({
                content: '#user-toolbar-options',
                position: 'vertical-bottom'
            });


            var animateButtons = Array.prototype.slice.call( document.querySelectorAll( '.btn-animate' ) ),
                totalButtons = animateButtons.length;
                animateButtons.forEach( function( el, i ) {
                    el.addEventListener( 'click', activate, false );
                } );

        function activate() {
            var self = this, activatedClass = 'btn-activated';

            if( classie.has( this, 'btn-animate-result' ) ) {

                if( classie.has( this, 'btn-result-success' ) ) {
                    activatedClass = 'btn-animate-success';
                }

                if( classie.has( this, 'btn-result-error' ) ) {
                    activatedClass = 'btn-animate-error';
                }
            }

            if( !classie.has( this, activatedClass ) ) {
                classie.add( this, activatedClass );
                setTimeout( function() { classie.remove( self, activatedClass ) }, 1500 );
            }
        }



        })(jQuery);
    </script>
</body>
</html>
